
    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">IO Games
                    <small>A Collection of The Best io games</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <div class="shadow ">
                    <div class="well white">
                        <a href="#">
                            <img class="img-responsive" src="http://is2.mzstatic.com/image/thumb/Purple18/v4/60/f3/b5/60f3b5ca-7e1a-6231-f9e6-6dc5e1fdb880/source/520x293bb.jpg" width="700px" height="400px" alt="">
                        </a>
                        <h3>
                            <a href="#">Game Name</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="shadow ">
                    <div class="well white">
                        <a href="#">
                            <img class="img-responsive" src="http://is3.mzstatic.com/image/thumb/Purple117/v4/5c/11/bd/5c11bd03-60c7-4c62-42cd-c2375fb24303/source/520x293bb.jpg" alt="">
                        </a>
                        <h3>
                            <a href="#">Game Name</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="shadow ">
                    <div class="well white">
                        <a href="#">
                            <img class="img-responsive" src="http://is1.mzstatic.com/image/thumb/Purple128/v4/46/38/c6/4638c6a2-9582-3014-5c3a-019332194f57/source/520x293bb.jpg" alt="">
                        </a>
                        <h3>
                            <a href="#">Game Name</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <div class="shadow ">
                    <div class="well white">
                        <a href="#">
                            <img class="img-responsive" src="http://is3.mzstatic.com/image/thumb/Purple71/v4/a5/ca/b8/a5cab828-f29a-cc55-bba6-2601fbe3cf5c/source/520x293bb.jpg" alt="">
                        </a>
                        <h3>
                            <a href="#">Game Name</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="shadow ">
                    <div class="well white">
                        <a href="#">
                            <img class="img-responsive" src="http://is5.mzstatic.com/image/thumb/Purple122/v4/d3/9a/19/d39a193c-9900-9653-dcd3-296a5a789373/source/520x293bb.jpg" alt="">
                        </a>
                        <h3>
                            <a href="#">Game Name</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="shadow ">
                    <div class="well white">
                        <a href="#">
                            <img class="img-responsive" src="http://is2.mzstatic.com/image/thumb/Purple4/v4/f8/28/98/f8289810-d173-8ca2-be55-90a41da0f27e/source/520x293bb.jpg" alt="">
                        </a>
                        <h3>
                            <a href="#">Game Name</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <div class="shadow ">
                    <div class="well white">
                        <a href="#">
                            <img class="img-responsive" src="http://is3.mzstatic.com/image/thumb/Purple60/v4/7f/ca/13/7fca13d2-7ce7-afc9-a2c9-35d0588f40aa/source/520x293bb.jpg" alt="">
                        </a>
                        <h3>
                            <a href="#">Game Name</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="shadow ">
                    <div class="well white">
                        <a href="#">
                            <img class="img-responsive" src="http://is5.mzstatic.com/image/thumb/Purple71/v4/0e/46/79/0e467921-2121-37c0-c84a-8fe25b76f0fd/source/520x293bb.jpg" alt="">
                        </a>
                        <h3>
                            <a href="#">Game Name</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="shadow ">
                    <div class="well white">
                        <a href="#">
                            <img class="img-responsive" src="http://is2.mzstatic.com/image/thumb/Purple19/v4/59/5f/3a/595f3a00-2aa7-6896-ab02-1a287a82cd2d/source/520x293bb.jpg" alt="">
                        </a>
                        <h3>
                            <a href="#">Game Name</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->