
    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">IO Games
                    <small>A Collection of The Best io games</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 portfolio-item">
                <div class="shadow ">
                    <div class="well white">

                        <a href="#">
                            <img class="img-responsive" src="http://is3.mzstatic.com/image/thumb/Purple117/v4/5c/11/bd/5c11bd03-60c7-4c62-42cd-c2375fb24303/source/520x293bb.jpg" width="700px" height="400px" alt="">
                        </a>
                        <h3 class="inline">
                            <a href="#">Game Name</a>
                        </h3>

                        <button class="btn btn-warning disabled game-btn1">Favorite</button>
                        <button class="btn btn-success game-btn2">Like</button>
                        <button class="btn btn-danger game-btn3">Dislike</button>
                        <span hidden>
                        <button class="btn btn-default game-btn4">Default</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
